.wrapAll {
  margin: 50px 0 20px 0;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.41px;
  color: #000000;

  h3 {
    font-size: 40px;
  }

  @media (max-width: 800px) {
    margin: 35px 0 10px 0;
  }

  @media (max-width: 576px) {
    margin: 20px 0 0 0;
    h3 {
      font-size: 30px;
    }
  }

  @media (max-width: 400px) {
    margin: 10px 0 0 0;

    h3 {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

.infor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  margin-bottom: 40px;
  .infor__new {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #6e7c87;

    &:first-child {
      @media (max-width: 700px) {
        flex-direction: column;
      }
    }

    div {
      &:last-of-type {
        color: #000000;
      }
    }
  }
}
