.card_wrapper {
  max-width: 300px;
  width: 100%;
  min-height: 250px;
  margin: 0;
  background-color: #ffffff;
  text-align: center;
  border-radius: 8px;

  @media (max-width: 1220px) {
    max-width: 280px;
  }

  @media (max-width: 1140px) {
    max-width: 260px;
  }

  @media (max-width: 1060px) {
    max-width: 230px;
  }

  @media (max-width: 1000px) {
    max-width: 300px;
  }

  @media (max-width: 925px) {
    max-width: 280px;
  }

  @media (max-width: 890px) {
    max-width: 260px;
  }

  @media (max-width: 835px) {
    max-width: none;
  }

  @media (max-width: 700px) {
    max-width: 320px;
  }

  @media (max-width: 650px) {
    max-width: 300px;
  }

  @media (max-width: 600px) {
    max-width: 260px;
  }

  @media (max-width: 525px) {
    max-width: 240px;
  }

  @media (max-width: 490px) {
    max-width: 220px;
  }

  @media (max-width: 445px) {
    max-width: 200px;
  }

  @media (max-width: 400px) {
    max-width: 180px;
  }

  @media (max-width: 360px) {
    max-width: 160px;
  }

  @media (max-width: 340px) {
    max-width: 150px;
  }

  @media (max-width: 325px) {
    max-width: 140px;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .card {
    width: 100%;
    min-height: 250px;
    background-color: #ffffff;
    border-radius: 8px;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 8px;
    }

    .card_img {
      padding: 15px 15px 0 15px;
      width: 100%;
      display: block;
      min-height: 220px;
      max-height: 220px;
      max-width: 300px;
      border-radius: 8px;
      text-align: center !important;
      border-radius: 8px;

      @media (max-width: 835px) {
        max-width: none;
      }

      @media (max-width: 700px) {
        max-width: 320px;
      }

      @media (max-width: 650px) {
        max-width: 300px;
      }

      @media (max-width: 576px) {
        padding: 0;
      }

      @media (max-width: 445px) {
        min-height: 200px;
      }

      @media (max-width: 400px) {
        min-height: 180px;
        max-height: 180px;
      }

      @media (max-width: 360px) {
        min-height: 150px;
        max-height: 150px;
      }

      @media (max-width: 325px) {
        min-height: 130px;
        max-height: 130px;
      }
    }

    .product_body {
      padding: 0 15px 15px 15px;
      text-align: left;
      height: 130px;

      @media (max-width: 576px) {
        padding: 0 16px 16px 16px;
        width: 100%;
      }

      .product_texts {
        margin-top: 15px;

        @media (max-width: 576px) {
          margin-top: 16px;
        }

        .title {
          margin-bottom: 16px;

          span {
            width: 100%;
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.41px;
            color: #000000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          @media (max-width: 576px) {
            margin-bottom: 2px;

            span {
              font-size: 16px;
            }
          }

          @media (max-width: 400px) {
            margin-bottom: 4px;

            span {
              font-size: 15px;
            }
          }
        }

        .desc {
          margin-bottom: 16px;
          height: 36px;
          overflow: hidden;
          white-space: pre-wrap !important;

          @media (max-width: 576px) {
            margin-bottom: 2px;
          }

          p {
            font-size: 16px;
            font-weight: 500;
            line-height: 112%;
            letter-spacing: 0.08px;
            color: rgb(154, 166, 172);
          }

          @media (max-width: 576px) {
            margin-bottom: 2px;

            p {
              font-size: 16px;
            }
          }

          @media (max-width: 400px) {
            margin-bottom: 16px;

            p {
              font-size: 14px;
            }
          }
        }

        .price {
          font-size: 16px;
          font-weight: 700;
          line-height: 137%;
          letter-spacing: 0.41px;
          color: #713d8d;

          @media (max-width: 576px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
