.wrapper {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	box-shadow: inset 0 -1px 0 #e5e5e5;

	.header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;

		@media (max-width: 640px) {
			padding-top: 0px;
			padding-bottom: 0px;
		}

		.left {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.logo {
				img {
					width: 150px;
					height: 80px;
					object-fit: contain;
				}
			}

			.nav_items {
				display: flex;
				align-items: center;

				.nav_item {
					font-size: 16px;
					line-height: 175%;
					white-space: nowrap;
					color: #000000 !important;

					.nav_link {
						position: relative;
						display: block;
						padding: 10px 8px;
						border-bottom: 2px solid transparent;

						&:before {
							position: absolute;
							left: 40%;
							top: 45px;
							background-color: currentcolor;
							border-radius: 1px;
							content: "";
							height: 2px;
							transform: scaleX(0);
							width: 18px;
							transition: -ms-transform 0.2s cubic-bezier(0, 0, 0.1, 1),
								-webkit-transform 0.2s cubic-bezier(0, 0, 0.1, 1),
								transform 0.2s cubic-bezier(0, 0, 0.1, 1);
						}

						&:hover:before {
							transform: scaleX(0.2222222222);
						}
					}
				}
			}

			@media (max-width: 640px) {
				.nav_items {
					display: none;
				}
			}
		}

		.right {
			display: none;
			.buttons {
				display: flex;
				align-items: center;

				.burger_menu {
					background-color: transparent;
					padding: 9px 11px 5px;
					border-radius: 4px;
					cursor: pointer;
					border: 1px solid #713d8d;
				}

				@media (max-width: 350px) {
					.burger_menu {
						padding: 8px 9px 2px;
					}
				}
			}

			@media (max-width: 640px) {
				display: block;
			}
		}
	}
}
